@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf");
}

@font-face {
    font-family: "ManropeL";
    src: url("../fonts/Manrope-Light.ttf");
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100%);
        justify-content: center;
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes imgFromLeft {
    0% {
        object-position: 0;
    }
    100% {
        object-position: 50%;
    }
}

@keyframes toRight {
    0% {
        transform: translateX(0%);
        justify-content: center;
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes imgToRight {
    0% {
        object-position: 50%;
    }
    100% {
        object-position: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #232323;
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

.container {
    padding-left: 60px;
    padding-right: 60px;
}

.tourism__header--description-text,
.tourism__about--block-text,
.tourism__cards--item-description,
.tourism__place--item-description,
.tourism__cards--item-description,
.tourism__place--item-description,
.tourism__slider--item-info-description-text,
.tourism__cards--description-text,
.tourism__place--description-text,
.tourism__kitchen--item-description-text {
    font-size: 18px;
    text-indent: 35px;
}


/* tourism HEADER */

.tourism__header {
    display: grid;
    grid-template-rows: 880px;
    grid-template-columns: repeat(2, 1fr);
}

.tourism__header--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 60px;
}

.tourism__header--description-title {
    font-size: 75px;
    padding-bottom: 50px;
}

.tourism__header--description-text {
    max-width: 510px;
}

.tourism__header--image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* ABOUT */

.tourism__about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 80px;
}

.tourism__about > div {
    flex: 1 0 50%;
}

.tourism__about--block {
    display: flex;
}

.tourism__about--block-text {
    max-width: 490px;
    align-self: center;
}

/* VIDEO */

.tourism__video {
    padding-bottom: 70px;
}

.tourism__video--wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.tourism__video--wrapper video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 100vw;
    max-width: calc(100vw - 120px);
    transform: translate(-50%, 0);
    transition: max-width 1s;
}

/* FACTS */

.tourism__facts {
    padding-top: 145px;
    padding-bottom: 65px;
}

.tourism__facts--items {
    display: flex;
    flex-wrap: wrap;
}

.tourism__facts--item {
    flex: 1 0 50%;
    padding-bottom: 80px;
    padding-right: 20px;
}

.tourism__facts--item-title {
    font-size: 12px;
    color: #919191;
}

.tourism__facts--item-number {
    font-size: 130px;
    padding-bottom: 30px;
    display: flex;
}

.tourism__facts--item-description {
    max-width: 500px;
    font-size: 24px;
    text-indent: 30px;
}

/* CARDS */

.tourism__cards,
.tourism__place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tourism__cards--description,
.tourism__place--description {
    font-size: 50px;
    padding-left: 60px;
    padding-right: 60px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tourism__cards--description-title,
.tourism__place--description-title {
    font-size: 50px;
    padding-bottom: 50px;
}

.tourism__cards--description-text,
.tourism__place--description-text {
    font-size: 18px;
    max-width: 565px;
}

.tourism__cards--items,
.tourism__place--items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2;
}

.tourism__cards--item,
.tourism__place--item {
    padding: 80px 60px;
    display: flex;
    min-height: 500px;
    grid-row: span 1;
    flex-direction: column;
    justify-content: space-between;
}

.tourism__cards--item-text {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
}

.tourism__cards--link:hover .tourism__cards--item-image,
.tourism__place--link:hover .tourism__place--item-image,
.tourism__kitchen--link:hover .tourism__kitchen--item-arrow {
    transform: translate(16px, -16px);
}

.tourism__cards--items .tourism__cards--link:last-child {
    grid-column: span 2;
}

.tourism__cards--items .tourism__cards--link:nth-child(odd) {
    grid-column: unset;
    background: linear-gradient(180deg, #FFE6DE 0%, #FFFAEE 100%);
}

.tourism__cards--items .tourism__cards--link:nth-child(1) {
    grid-column: span 2;
}

.tourism__cards--items .tourism__cards--link:nth-child(even) {
    background: linear-gradient(180deg, #E8EDFF 0%, #EBF8FF 100%);
}

.tourism__cards--item-title,
.tourism__place--item-title,
.tourism__kitchen--item-description-title {
    font-size: 35px;
    padding-bottom: 40px;
}

.tourism__cards--item-description,
.tourism__place--item-description {
    font-size: 18px;
    max-width: 370px;
    flex: 1;
}

.tourism__cards--item-image,
.tourism__place--item-image,
.tourism__links--item-arrow,
.tourism__kitchen--item-arrow {
    min-height: 23px;
    max-width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease-out;
}

/* SLIDER */

.tourism__slider {
    position: relative;
}

.tourism__slider--items {
    display: flex;
    min-height: 1000px;
}

.tourism__slider--item {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tourism__slider--item-info {
    opacity: 0;
}

.tourism__slider--item.slide-active > .tourism__slider--item-info {
    opacity: 1;
}

.tourism__slider--item-image {
    flex: 0 0 50%;
    z-index: 1;
}

.tourism__slider--item-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}

.tourism__slider--item-image.image-from-left,
.tourism__slider--item-image.image-to-right,
.tourism__slider--item-image.image-from-left > img,
.tourism__slider--item-image.image-to-right > img {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.49, 0, 0.29, 1.0);
}

.tourism__slider--item-image.image-from-left {
    z-index: 2;
    animation-name: fromLeft;
}

.tourism__slider--item-image.image-to-right {
    z-index: 2;
    animation-fill-mode: forwards;
    animation-name: toRight;
}

.tourism__slider--item-image.image-from-left > img {
    animation-name: imgFromLeft;
}

.tourism__slider--item-image.image-to-right > img {
    animation-name: imgToRight;
}

.tourism__slider--item-info {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    padding: 150px 0 80px 60px;
}

.tourism__slider--item-info-title {
    padding-bottom: 180px;
    color: #919191;
}

.tourism__slider--item-info-description {
    position: relative;
    max-width: 530px;
    opacity: 0;
    flex: 1;
    padding-bottom: 80px;
}

.tourism__slider--item-info-description-title {
    font-size: 35px;
    padding-bottom: 40px;
}

.tourism__slider--item-info-description-text {
    padding-bottom: 100px;
}

.tourism__slider--info-description-button {
    border: 1px solid #232323;
    border-radius: 80px;
    padding: 20px 58px;
    width: fit-content;
    margin-top: auto;
}

.tourism__slider--controls {
    max-width: 270px;
    width: 100%;
    position: absolute;
    left: calc(50% + 60px);
    bottom: 80px;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tourism__slider--info-controls-prev,
.tourism__slider--info-controls-next {
    max-width: 50px;
    width: 100%;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.tourism__slider--info-controls-count {
    flex: 2 0;
    text-align: center;
}

.tourism__slider--item.slide-active .tourism__slider--item-info-description {
    opacity: 1;
}

.tourism__slider--item.slide-active .tourism__slider--item-info {
    z-index: 4;
    background-color: white;
}

/* KITCHEN */

.tourism__kitchen--items {
    display: grid;
    grid-column: span 2;
}
.tourism__kitchen--items .tourism__cards--link:nth-child(odd){
    grid-column: span 2;
}
.tourism__kitchen--link {
    display: grid;
    grid-column: span 2;
}

.tourism__cards--link:nth-child(2n) .tourism__cards--item-text {
    grid-column: 2;
}

.tourism__cards--link:nth-child(2n) .tourism__kitchen--item-image {
    grid-column: 1;
    grid-row: 1;
}

.tourism__kitchen--item {
    min-height: 1000px;
    padding: 0;
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
}

.tourism__kitchen--item-description-title {
    font-size: 50px;
}

.tourism__kitchen--item-description,
.tourism__kitchen--item-image {
    grid-column: 2;
}

.tourism__kitchen--item > .tourism__cards--item-text {
    padding: 150px 60px 105px 60px;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #EAECFF 0%, #FFF5F5 100%);
}

.tourism__kitchen-item-image {
    background-position: center;
    background-size: cover;
}

/* PLACE */

.tourism__place--items {
    grid-template-columns: repeat(2, 1fr);
}

.tourism__place--link:nth-child(1) {
    grid-row: 1;
    grid-column: span 2;
}

.tourism__place--link:nth-child(1) .tourism__place--item-description {
    max-width: 600px;
}

.tourism__place--link:nth-child(1n) {
    background: linear-gradient(180deg, #E8EDFF 0%, #EBF8FF 100%);
}

.tourism__place--link:nth-child(2n) {
    background: linear-gradient(180deg, #FFE6DE 0%, #FFFAEE 100%);
}

.tourism__place--link:nth-child(3n) {
    background: linear-gradient(180deg, #EAECFF 0%, #FFF5F5 100%);
}